<!doctype html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<meta name="description" content="">
<meta name="author" content="Rohan Bansal">
<meta name="viewport" content="width=device-width,initial-scale=1">

<script src="https://kit.fontawesome.com/68aa47df24.js" crossorigin="anonymous"></script>
<link type="text/css" rel="stylesheet" href="/static/css/magic.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/view.css" />

<link rel="shortcut icon" href="/static/ico/favicon.png">

</head>
<body>

  {% block content %}{% endblock %}


  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://unpkg.com/popper.js@1"></script>
  <script src="https://unpkg.com/tippy.js@4"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="/static/js/plugins.js" defer></script>
  <script type="text/javascript" src="/static/js/viewScript.js" defer></script>
</body>
</html>
