html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0 !important;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #FE6968;
}

pre::-webkit-scrollbar {
    height: 6px;
  }

#hero-pattern {
    height: 50vh;
    width: 100vw;
    background-color: #111827;
    border-bottom: 6px solid #3A83F6;
    background-image: url("../img/hero_hills.svg");
    background-attachment: fixed;
    z-index: -1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}

header {
    position: relative;

}

#pattern-bottom {
    width: 100vw;
    height: auto;
    background-image: url("../img/hero_wiggle.svg");
}

.displaybox-wrapper {
  float:left;
  margin-left: 50%;
  margin-top: -25vh;
  transform: translateX(-50%);
}

.displaybox {
    white-space: pre-line;
    width: 45vw;
    min-height: 50vh;
    background-color: #ffffff;
    border: 6px solid #3A83F6;
    border-radius: 20px;
    padding: 30px;
    padding-left: 40px;

    color: #1B191B;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-bottom: 100px;
}

.displaybox::after {
    content: "";
    min-height: 10vh;
}

.title-group-wrapper {
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
 }

.title-group {
    text-align: center;
    display: flex;
}

.fragment-icon {
    min-height: 50;
    min-width: 50px;
    max-height: 50px;
    max-width: 50px;
    margin-right: 10px;
    cursor: pointer;
}


.text-title {
    margin: auto !important;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px !important;
    color: white;
    cursor: pointer;
}

.credits {
    position: absolute;
    bottom: 10px;
    right: 35px;
    text-align: right;
}

.me {
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.me a {
    text-decoration: none;
    color: #3d88ff;
  }
  
  .me a:hover {
    color: #4f91fa;
  }

@media (max-width: 767px) {
  .displaybox {
    width: 65vw;
  }

  .credits {
    display: none;
  }
}

@media (max-width: 1024px) {
  .credits {
    display: none;
  }
}

.tooltip {
  color: #3d88ff;
  cursor: pointer;
}

.tippy-popper {
  font-family: 'Inter', sans-serif;
}

/* Extracted Bootstrap styles (minified) */
code,kbd,pre,samp {font-family: monospace,monospace;font-size:1em;}

pre,blockquote{border:1px solid #999;page-break-inside:avoid}
pre{overflow:auto}
code,kbd,pre,samp{font-family:Menlo,Monaco,Consolas,"Courier New",monospace}
code{padding:2px 4px;font-size:90%;color:#c7254e;background-color:#f9f2f4;white-space:nowrap;border-radius:4px}kbd{padding:2px 4px;font-size:90%;color:#fff;background-color:#333;border-radius:3px;box-shadow:inset 0 -1px 0 rgba(0,0,0,.25)}pre{display:block;padding:9.5px;margin:0 0 10px;font-size:13px;line-height:1.42857143;word-break:break-all;word-wrap:break-word;color:#333;background-color:#f5f5f5;border:1px solid #ccc;border-radius:4px}pre code{padding:0;font-size:inherit;color:inherit;white-space:pre-wrap;background-color:transparent;border-radius:0}